name: Build & Upload Artifacts

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

        # Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run build scripts
        run: npm run pack && npm run pack-ff

      - name: Upload Firefox ZIP
        uses: actions/upload-artifact@v4
        with:
          name: vpn-proton-firefox
          path: vpn-proton-firefox.zip

      - name: Upload Chrome ZIP
        uses: actions/upload-artifact@v4
        with:
          name: vpn-proton-chrome
          path: vpn-proton-chrome.zip